html{
    height: 100%;
}

body{
    background-color: hsl(108, 32%, 30%);
    height: 100%;
    margin: 0;
    color: rgb(255, 255, 255);}

.bgimage{
    background-image: url(images/bg\ portfolio.jpeg);
    background-size: cover;

}
    .top-header{
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .logo{
        margin: 0;
        color: #ffffff;
        font-weight: 700;
        font-size: 30px;
        font-family: cursive;
    }
    .logo:hover{
        color: hsl(108, 32%, 30%);
    }
    .navigation-menu{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap:15px;
    }
    .menu-item{
        color: #ffffff;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .menu-item a{
        text-decoration: none;
        color: #ffffff;
        position: relative;
    }
    .menu-item a:hover{
        color: hsl(108, 32%, 30%);
    }
    .menu-item a::after{
        content:" ";
        background-color:hsl(108, 32%, 30%) ;
        width: 0%;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    
    }
    .menu-item a:hover::after{
        width: 100%;
    }

    .servicehead{
        text-align: center;
        font-size: 40px;
        margin-top: 100px;
    }
    /* SERVICES BODY */

    .servicescontainer{
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .servicebox{
        width: 314px;
        height: 180px;
        border: 1px solid #cccc;
        border-radius: 5px;
        padding-top:20px ;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .serviceboxdescription{
        font-size: 18px;
    }